<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="book.library.slarorapart1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SLARORAPART1"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="book.library.slarorapart1.PDFActivity5" />
        <activity android:name="book.library.slarorapart1.PDFActivity7" />
        <activity android:name="book.library.slarorapart1.PDFActivity6" />
        <activity android:name="book.library.slarorapart1.PDFActivity4" />
        <activity android:name="book.library.slarorapart1.PDFActivity3" />
        <activity android:name="book.library.slarorapart1.PDFActivity2" />
        <activity android:name="book.library.slarorapart1.Chapter7" />
        <activity android:name="book.library.slarorapart1.Chapter6" />
        <activity android:name="book.library.slarorapart1.Chapter5" />
        <activity android:name="book.library.slarorapart1.Chapter4" />
        <activity android:name="book.library.slarorapart1.Chapter3" />
        <activity android:name="book.library.slarorapart1.Chapter2" />
        <activity android:name="book.library.slarorapart1.chapter1.Chapter1" />
        <activity android:name="book.library.slarorapart1.PDFActivity" />
        <activity android:name="book.library.slarorapart1.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9954362795324309~9421979709"/>

        <activity android:name="com.chartboost.sdk.CBImpressionActivity"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:configChanges="keyboardHidden|orientation|screenSize" />

    </application>

</manifest>